.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    backdrop-filter: blur(5px); /* Applies a blur effect to the background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the overlay appears above other content */
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow effect */
}




@keyframes upDownAnimation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0);}
  }
.dot-1, .dot-2, .dot-3 {
    display: inline-block;
    padding: 0px 3px;
    animation: upDownAnimation 1.5s infinite;
    font-size: 30px;
  }
  
  .dot-1 {
    animation-delay: 0s;
  }
  
  .dot-2 {
    animation-delay: 0.5s;
  }
  
  .dot-3 {
    animation-delay: 1s;
  }